
@media (min-width: 1391px) {

}


@media (min-width: 1281px) and (max-width: 1390px) {
  
.phone a {
    font-size: 24px;
  }
.logo span {
  font-size: 24px;
}

.logo img {
  width: 80px;
  height: 24px;

}
  
}



@media (min-width: 1025px) and (max-width: 1280px) {
  
.phone a {
    font-size: 16px;
  }

  .logo span {
    font-size: 16px;
  }

.logo img {
    width: 60px;
    height: 18px;

  }

.menu #myMenu a {
  font-size: 12px;
  padding: 8px 15px 8px 15px;
  
}

.menu #myMenu li {
  width: 100px;
  
}

.main-content h2 {
  font-size: 60px;
}

.typed_row {
  font-size: 20px;
}

.container {
  width: 860px;
}

.column-right {
  width: 410px;
}

.column-left {
  width: 410px;
}

.column-left h1 {
  font-size: 70px;
}


.block-top h3 {
  font-size: 35px;
  padding-top: 60px;
}

.static-img { 
  top: 130px;
  left: -190px;
  height: 200px;
}

.column-left h2 {
  font-size: 26px;
}

.column-left p {
  font-size: 16px;
}

.parent-circle {
  grid-template-columns: repeat(4, 5px);
  grid-template-rows: repeat(4, 5px);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  left: 407px;
  bottom: 45vh; 
}

.swiper {
  width: 530px;
}



}



@media (min-width: 768px) and (max-width: 1024px) {

.menu #myMenu li {
      display: none;
}



.phone a {
    display: none;
}

.logo span {
    font-size: 18px;
}

.logo img {
    width: 70px;
    height: 20px;
}

#pp-nav {
  display: none;
}


.main-content h2 {
    font-size: 60px;
  }

.typed_row {
    font-size: 20px;
  }

  .container {
    width: 660px;
  }

  .column-right {
    width: 300px;
  }

  .column-left {
    width: 300px;
  }

  .column-left h1 {
    font-size: 60px;
  }


  .block-top h3 {
    font-size: 25px;
    padding-top: 70px;
  }

  .static-img {
    top: 120px;
    left: -190px;
    height: 180px;
  }

  .column-left h2 {
    font-size: 26px;
  }

  .column-left p {
    font-size: 14px;
  }

  .parent-circle {
    grid-template-columns: repeat(4, 5px);
    grid-template-rows: repeat(4, 5px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    left: 307px;
    bottom: 45vh;
  }

  .swiper {
    width: 430px;
  }
.swiper-button-next:after {
  margin-left: -40px;
  
}
.swiper-button-prev:after {
  margin-right: -40px;
}

.swiper-img {
  height: 30vh;
}



}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
.menu #myMenu li {
    display: none;
  }



  .phone a {
    display: none;
  }

  .logo span {
    font-size: 18px;
  }

  .logo img {
    width: 70px;
    height: 20px;
  }

  #pp-nav {
    display: none;
  }


  .main-content h2 {
    font-size: 60px;
  }

  .typed_row {
    font-size: 20px;
  }

  .container {
    width: 660px;
  }

  .column-right {
    width: 300px;
  }

  .column-left {
    width: 300px;
  }

  .column-left h1 {
    font-size: 60px;
  }


  .block-top h3 {
    font-size: 25px;
    padding-top: 70px;
  }

  .static-img {
    top: 120px;
    left: -190px;
    height: 180px;
  }

  .column-left h2 {
    font-size: 26px;
  }

  .column-left p {
    font-size: 14px;
  }

  .parent-circle {
    grid-template-columns: repeat(4, 5px);
    grid-template-rows: repeat(4, 5px);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    left: 307px;
    bottom: 45vh;
  }

  .swiper {
    width: 430px;
  }

  .swiper-button-next:after {
    margin-left: -40px;

  }

  .swiper-button-prev:after {
    margin-right: -40px;
  }

  .swiper-img {
    height: 30vh;
  }


  
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {

  .menu #myMenu li {
      display: none;
    }
  
    .phone {
      display: none;
  
    }
  
    .logo {
      margin-left: 20px;
    }
  
    .logo span {
      font-size: 29px;
    }
  
    .logo img {
      display: none;
    }
  
    #pp-nav {
      display: none;
    }
  
  
    .main-content h2 {
      font-size: 45px;
    }
  
    .typed_row {
      font-size: 18px;
    }
  
    .figure-svaeboi {
      position: absolute;
      top: 0px;
      width: 270px;
      height: 260px;
      border: 35px solid #FFA500;
      border-radius: 60px;
  
    }
  
    .figure-excavator {
      position: absolute;
      top: 0px;
      border-top: 15vh solid transparent;
      border-left: 32vh solid orange;
      border-bottom: 15vh solid transparent;
    }
  
    .figure-bulldozer {
      position: absolute;
      top: 30px;
      left: 10px;
      width: 22vh;
      height: 22vh;
      border-radius: 5px;
      margin-top: 0px;
    }
  
    .figure-yamobur {
      position: absolute;
      top: 30px;
      width: 32vh;
      height: 32vh;
      border: 5vh solid #FFA500;
  
    }
  
    .container {
      width: 90%;
      flex-direction: column;
      height: 100vh;
    }
  
    .block-bot-svaeboi {
      display: none;
    }
  
    .block-bot-excavator {
      display: none;
    }
  
    .block-bot-bulldozer {
      display: none;
    }
  
    .block-top {
      background: none;
      height: 35vh;
    }
  
    .swiper {
      width: 100%;
      right: 0;
    }
  
    .sm_menu_outer {
      width: 100%;
      height: 100%;
    }
  
    .swiper-img {
      height: 22vh;
    }
  
    .static-img {
      position: static;
      display: block;
      width: 100%;
      height: auto;
    }
  
    .block-top h3 {
      color: black;
      padding-top: 20px;
      padding-bottom: 50px;
      font-size: 35px;
    }
  
    .column-right {
      width: 100%;
      order: 1;
      height: 35vh;
  
    }
  
    .column-left {
      width: 100%;
      order: 2;
      height: 65vh;
      padding-top: 10px;
    }
  
    .column-left h1 {
      display: none;
    }
  
    .column-left h2 {
      font-size: 26px;
    }
  
    .column-left p {
      font-size: 18px;
    }
  
    .parent-circle {
      display: none;
    }
  
    .call {
      width: 300px
    }
  
    .call-info a {
      font-size: 20px;
    }
    .call-info span {
      font-size: 20px;
    }


  
    .phone-info svg {
      width: 30px;
      height: 30px;
    }
  
    .mail-info svg {
      width: 30px;
      height: 30px;
    }

    .address-info svg {
      width: 30px;
      height: 30px;
    }
  
    .phone-to {
      text-decoration: none;
    }
  
    .block-bot-yamobur {
      display: none;
    }
  
  }






@media (min-width: 481px) and (max-width: 767px) {
  
.menu #myMenu li {
    display: none;
  }

  .phone {
    display: none;

  }

  .logo {
    margin-left: 20px;
  }

  .logo span {
    font-size: 29px;
  }

  .logo img {
    display: none;
  }

  #pp-nav {
    display: none;
  }


  .main-content h2 {
    font-size: 45px;
  }

  .typed_row {
    font-size: 18px;
  }

  .figure-svaeboi {
    position: absolute;
    top: 0px;
    width: 270px;
    height: 260px;
    border: 35px solid #FFA500;
    border-radius: 60px;

  }

  .figure-excavator {
    position: absolute;
    top: 0px;
    border-top: 15vh solid transparent;
    border-left: 32vh solid orange;
    border-bottom: 15vh solid transparent;
  }

  .figure-bulldozer {
    position: absolute;
    top: 30px;
    left: 10px;
    width: 22vh;
    height: 22vh;
    border-radius: 5px;
    margin-top: 0px;
  }

  .figure-yamobur {
    position: absolute;
    top: 30px;
    width: 32vh;
    height: 32vh;
    border: 5vh solid #FFA500;

  }

  .container {
    width: 90%;
    flex-direction: column;
    height: 100vh;
  }

  .block-bot-svaeboi {
    display: none;
  }

  .block-bot-excavator {
    display: none;
  }

  .block-bot-bulldozer {
    display: none;
  }

  .block-top {
    background: none;
    height: 35vh;
  }

  .swiper {
    width: 100%;
    right: 0;
  }

  .sm_menu_outer {
    width: 100%;
    height: 100%;
  }

  .swiper-img {
    height: 22vh;
  }

  .static-img {
    position: static;
    display: block;
    width: 100%;
    height: auto;
  }

  .block-top h3 {
    color: black;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 35px;
  }

  .column-right {
    width: 100%;
    order: 1;
    height: 35vh;

  }

  .column-left {
    width: 100%;
    order: 2;
    height: 65vh;
    padding-top: 10px;
  }

  .column-left h1 {
    display: none;
  }

  .column-left h2 {
    font-size: 26px;
  }

  .column-left p {
    font-size: 18px;
  }

  .parent-circle {
    display: none;
  }

  .call {
    width: 300px
  }

  .call-info a {
    font-size: 20px;
  }
  .call-info span {
    font-size: 20px;
  }

  .phone-info svg {
    width: 30px;
    height: 30px;
  }

  .mail-info svg {
    width: 30px;
    height: 30px;
  }
  .address-info svg {
    width: 30px;
    height: 30px;
  }
  

  .phone-to  {
    text-decoration: none;
  }
  .block-bot-yamobur {
    display: none;
  }
  
}



@media (min-width: 320px) and (max-width: 480px) {
  
.menu #myMenu li {
    display: none;
  }

.phone  {
    display: none;

  }

.logo {
  margin-left: 20px;
}

.logo span {
    font-size: 29px;
  }

.logo img {
    display: none;
  }

#pp-nav {
    display: none;
  }


.main-content h2 {
    font-size: 45px;
  }

.typed_row {
    font-size: 18px;
  }
.figure-svaeboi {
  position: absolute;
  top: 0px;
  width: 270px;
  height: 260px;
  border: 35px solid #FFA500;
  border-radius: 60px;

}

.figure-excavator {
  position: absolute;
  top: 0px;
  border-top: 15vh solid transparent;
  border-left: 32vh solid orange;
  border-bottom: 15vh solid transparent;
}

.figure-bulldozer {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 22vh;
  height: 22vh;
  border-radius: 5px;
  margin-top: 0px;
}

.figure-yamobur {
  position: absolute;
  top: 30px;
  width: 32vh;
  height: 32vh;
  border: 5vh solid #FFA500;

}

.container {
  width: 90%;
  flex-direction:column;
  height: 100vh;
}

.block-bot-svaeboi {
    display: none;
}

.block-bot-excavator {
  display: none;
}

.block-bot-bulldozer {
  display: none;
}

.block-top {
  background:none;
  height: 35vh;
}
.swiper {
  width: 100%;
  right: 0;
}
.sm_menu_outer {
  width: 100%;
  height: 100%;
}
.swiper-img {
  height: 22vh;
}
.static-img {
  position: static;
  display: block;
  width: 100%;
  height: auto;
}

.block-top h3 {
  color:black;
  padding-top: 20px;
  padding-bottom: 50px;
  font-size: 35px;
}
.column-right {
  width: 100%;
  order: 1;
  height: 35vh;

}
.column-left {
  width: 100%;
  order:2;
  height: 65vh;
  padding-top: 10px;
}

  .column-left h1 {
    display: none;
  }

  .column-left h2 {
    font-size: 26px;
  }

  .column-left p {
    font-size: 18px;
  }

  .parent-circle {
    display: none;
  }

  .call {
    width: 300px
  }

  .call-info a {
    font-size: 20px;
  }
  .call-info span {
      font-size: 20px;
  }
  .call-info p {
    font-size: 30px;
  }

  .phone-info svg {
    width: 30px;
    height: 30px;
  }

  .mail-info svg {
    width: 30px;
    height: 30px;
  }
  .address-info svg {
    width: 30px;
    height: 30px;
  }

  .phone-to  {
    text-decoration: none;
  }
  .block-bot-yamobur {
    display: none;
  }

}
  
